main {
	margin-top: 70px;
	margin-bottom: 60px;
	display: none;	
}
main#main-jogos {
	display: block;
}

h4 {
	margin-bottom: 1em;
}

img.logo {
	width: 32px;
	margin-right: 4px;
}

img.icones {
	width: 22px;
	margin-right: 2px;
}
img.pra-cima {
	width: 22px;
	margin-right: 2px;
	margin-top: -3px;
}
img.links {
	width: 22px;
}
div.video-jogos {
	box-shadow: 0 0 5px black;
	margin-bottom: .8em;
}

div.parallax {	
	margin-bottom: 10px;
	width: 100%;
	background-color: #626262;
	background-image: url(../img/background.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;	
	padding: 1em;

	color: #ffffff;
	font-size: 1.4em;
	text-align: center;
	text-shadow: 0 0 4px #000000;

	min-width: 320px;
}

img.parallax-good {
	display: none;
}

div.parallax > p {
	padding: 0.5em 0.2em;
	border-top: 1px solid #e67e22;
	border-bottom: 1px solid #e67e22;
	background-color: rgba(230, 126, 34, 0.7);	
}

img.texto {
	width: 48px;
	margin-right: 5px;
	border-radius: 24px;
}

p.texto {
	font-size: 0.8em;
}

div.meu-container-card {
	margin: 0 auto;
	padding: 0;	
}

div.meu-card {	
	box-sizing: border-box;
	width: 250px;
	margin: 10px;
}

img.borda-imagem-card {
	box-shadow: 0 -2px 2px #aaaaaa;
}

.exibir-pdf {
	box-shadow: 0 0 4px black;	
	height: 400px;
}
.exibir-pdf p {
	margin: 10px;
	padding: 5px;	
}

img.tecnologias {
	width: 48px;
	margin-right: 10px;
}

img.estilo-carousel {
	width: 100%;
	display: block;
	margin: 0 auto;	
}
img.estilo-carousel-mobile {
	max-width: 320px;
}
img.estilo-carousel-pequena {
	max-width: 500px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	height: 42px;
  	width: 42px;
  	background-size: 100%, 100%;
  	background-image: none;
  	background-color: white;
  	border-radius: 35px;
}

.carousel-control-next-icon:after {
  	content: '>';
  	font-size: 28px;
  	color: black;  	
}

.carousel-control-prev-icon:after {
  	content: '<';
  	font-size: 28px;
  	color: black;
}

@media screen and (min-width: 400px) {
	div.parallax {
		font-size: 2em;
	}
	p.texto {
		font-size: 1em;
	}
}
@media screen and (min-width: 800px) {
	div.parallax {
		font-size: 2.5em;
		font-weight: bold;
	}
	p.texto {
		font-size: 1.2em;
	}	
	div.meu-card {	
		width: 250px;
		display: inline-block;
	}
	.exibir-pdf {		
		width: 80%;
		margin: 0 auto;
		height: 800px;
	}
}